name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: make
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref }}
          files: '*.zip'
          body: |
            <placeolder>
          draft: true
          prerelease: false
